{
  "presets": ["env", "stage-0"],
  "env": {
    "dev": {
      "presets": []
    },
    "prod": {
      "presets": []
    }
  },
  "plugins": ["./babel-plugins/babel-remove-console-log-expression/index.js"]
}